{% extends 'base.html' %}
{% block content %}
<div class="container">
    <center>
        <div class="row mt-5">
            <div class="col">
                <div class="card border-primary">
                    <div class="card-header border-primary-subtle bg-primary-subtle">
                        <b class="text-primary-emphasis">Добро пожаловать!</b>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 row mt-3">
                            <div class="col">
                                <form action="{% url 'index' %}" method="post">
                                    {% csrf_token %}
                                    {% if errors %}
                                    {{ errors }}
                                    {% endif %}
                                    <ul class="list-group list-group-flush">
                                        {% for field in form %}
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-6">
                                                    {{ field.label_tag }}
                                                </div>
                                                <div class="col-6">
                                                    {{ field }}
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        <li class="list-group-item"><input type="submit" value="Получить маршрут"
                                                                           class="btn text-primary-emphasis bg-primary-subtle border-primary-subtle w-25">
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if request.method == "POST" %}
        <div class="row mt-5">
            <div class="col">
                <div class="card border-primary">
                    <div class="card-header border-primary-subtle bg-primary-subtle">
                        <b class="text-primary-emphasis">Маршрут</b>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 row mt-3">
                            <div class="col">
                                <table class="table table-striped">

                                    <tr><td><center>{{ polet }}</center></td></tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </center>
</div>
{% endblock %}